@media (max-width: 850px) {
  .container {
    width: 800px;
  }
  .posts {
    &-wrap.block {
      grid-template-columns: 1fr 1fr;
      grid-column: 2;
    }
    &-toggle {
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 700px;
  }

  .posts {
    &-block {
      overflow-x: hidden;
    }
    &-toggle {
      justify-content: center;
    }

    &-wrap.block {
      grid-template-columns: 1fr 1fr;
      grid-column: 2;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 500px;
  }
  .posts {
    &-wrap.block {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &-first-section.list {
      justify-content: space-around;
      font-size: 14px;
    }
    &-second-section.list {
      font-size: 14px;
      justify-content: space-around;
    }
    &-three-section.list {
      font-size: 14px;
      justify-content: space-around;
    }
    &-context.list {
      width: 65%;
      padding: 0px 5px;
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .posts {
    &-toggle {
      padding: 10px;
      justify-content: center;
    }
    &-three-section.list {
      display: none;
    }
    &-feedback.list {
      flex-direction: column;
    }
  }
  .header {
    &-datepicker {
      flex-direction: column;
      justify-content: center;
      width: 350px;
    }
    &-block {
      background-size: cover;
      height: 280px;
    }
    &-name {
      flex-direction: column-reverse;
    }
    &-wrap {
      width: 350px;
    }
    &-info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 400px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 380px) {
  .container {
    width: 330px;
  }
  .header {
    &-wrap {
      width: 320px;
    }
    &-datepicker {
      width: 280px;
    }
    &-info {
      width: 280px;
    }
  }
}

@media (max-width: 320px) {
  .container {
    width: 300px;
    padding: 0;
  }
  .posts {
    &-item {
      width: 280px;
      img {
        width: 280px;
      }
    }
  }
}
