$black: #262626;
$grey: #cccccc;
$blue: #4090db;
$light: #ebebeb;
$lightgreen: #b1d9c8;
$lightblack: #3d4044;
$lightgrey: #fafafa;
$smoke: #343537;
$white: #fff;
$myriad: "Myriad Pro", sans-serif;
$tahoma: "Tahoma", sans-serif;
$helvetica: "Helvetica", sans-serif;
