@import "_vars.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  width: 910px;
  padding: 0px 15px;
  margin: 0 auto;
}

// Datepicker Plugin
.datepicker {
  height: 32px;
  width: 180px;
  border: 2.5px solid $grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  button {
    cursor: pointer;
  }
  &-input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;
  }
  &-close {
    background-image: url("../images/datepicker-close.png");
    background-repeat: no-repeat;
    background-color: $light;
    background-position: center center;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid $grey;
    border-right: 2px solid $grey;
    width: 32px;
    height: 28px;
    outline: none;
  }
  &-open {
    background-image: url("../images/datepicker-open.png");
    background-repeat: no-repeat;
    background-color: $light;
    background-position: center center;
    width: 32px;
    height: 28px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    outline: none;
  }
}
// Button Load More
.posts-btn-load {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .load-more {
    font-family: $myriad;
    font-size: 12px;
    color: #000;
    width: 125px;
    height: 30px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    background: inherit;
    border: 1.5px solid $black;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $black;
      color: $white;
    }
  }
}
// Header Block
.header {
  &-block {
    height: 200px;
    z-index: 10;
    background-image: url("../images/bg-top-1.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  &-info {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    width: 330px;
  }
  &-title {
    font-size: 35px;
    font-family: $myriad;
    font-weight: 400;
    color: $black;
  }
  &-context {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-date {
    color: $blue;
    font-family: $myriad;
    font-size: 15px;
    border: 1px solid $blue;
    border-radius: 3px;
    padding: 8px 10px;
    margin-left: 15px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 440px;
  }
  &-name {
    display: flex;
    align-items: center;
  }

  &-posts {
    font-size: 17px;
    font-family: $myriad;
    color: $lightblack;
    span {
      font-weight: 600;
    }
  }
  &-datepicker {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .date {
      font-family: $tahoma;
      color: $black;
      font-size: 17px;
      font-weight: 300;
    }
  }
}

// List Visible

.posts {
  &-block {
    overflow-x: hidden;
    z-index: 1;
    color: $smoke;
    display: flex;
    position: relative;
    background-color: $lightgrey;
    padding-bottom: 50px;
    flex-direction: column;
    box-shadow: inset 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  }
  &-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 2px;
    i {
      padding: 5px;
      color: $grey;
      font-size: 28px;
      cursor: pointer;
      &.active {
        color: $blue;
      }
    }
  }
  &-bg {
    width: 347px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/bg-bottom.png");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -5;
  }
  &-bg-two {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 0;
    background-image: url("../images/background-two.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -5;
  }
  &-wrap.list {
    padding-top: 20px;
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  &-item.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    img {
      height: 94px;
      width: 94px;
    }
    &:hover {
      box-shadow: 0 0px 15px $lightgreen;
    }
  }
  &-context.list {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
  }
  &-feedback.list {
    width: 100px;
    display: flex;
    justify-content: space-between;
    .like.list {
      font-weight: 600;
    }
    .comment.list {
      font-weight: 600;
    }
  }
  &-first-section.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    font-family: $helvetica;
  }
  &-second-section.list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: $helvetica;
    .date {
      font-weight: 600;
    }
  }
  &-three-section.list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: $helvetica;

    .upload {
      font-weight: 600;
    }
    .date-of-upload {
      font-weight: 600;
    }
  }
  &-time {
    font-weight: 500;
  }
}

// Blocks Visible

.posts {
  &-wrap.block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }

  &-item.block {
    width: 275px;
    height: 275px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $helvetica;
    color: $white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
    img {
      width: 100%;
      position: absolute;
      height: 100%;
      z-index: -2;
    }
    &:hover {
      box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
    }
  }
  &-first-section.block {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
  }
  &-second-section.block {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
  }
  &-three-section.block {
    padding: 10px;
    width: 80;
    display: flex;
    justify-content: space-around;
    .upload {
      font-size: 16px;
    }
    .date-of-upload {
      font-weight: 600;
    }
  }
  &-feedback.block {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-weight: 600;
  }

  &-time.block {
    color: $white;
  }
}

@import "_media.scss";
