*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 910px;
  padding: 0px 15px;
  margin: 0 auto;
}

.datepicker {
  height: 32px;
  width: 180px;
  border: 2.5px solid #cccccc;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datepicker button {
  cursor: pointer;
}

.datepicker-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}

.datepicker-close {
  background-image: url("../images/datepicker-close.png");
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-position: center center;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  width: 32px;
  height: 28px;
  outline: none;
}

.datepicker-open {
  background-image: url("../images/datepicker-open.png");
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-position: center center;
  width: 32px;
  height: 28px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: none;
  outline: none;
}

.posts-btn-load {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts-btn-load .load-more {
  font-family: "Myriad Pro", sans-serif;
  font-size: 12px;
  color: #000;
  width: 125px;
  height: 30px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 600;
  background: inherit;
  border: 1.5px solid #262626;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.posts-btn-load .load-more:hover {
  background: #262626;
  color: #fff;
}

.header-block {
  height: 200px;
  z-index: 10;
  background-image: url("../images/bg-top-1.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
}

.header-title {
  font-size: 35px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  color: #262626;
}

.header-context {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-date {
  color: #4090db;
  font-family: "Myriad Pro", sans-serif;
  font-size: 15px;
  border: 1px solid #4090db;
  border-radius: 3px;
  padding: 8px 10px;
  margin-left: 15px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 440px;
}

.header-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-posts {
  font-size: 17px;
  font-family: "Myriad Pro", sans-serif;
  color: #3d4044;
}

.header-posts span {
  font-weight: 600;
}

.header-datepicker {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-datepicker .date {
  font-family: "Tahoma", sans-serif;
  color: #262626;
  font-size: 17px;
  font-weight: 300;
}

.posts-block {
  overflow-x: hidden;
  z-index: 1;
  color: #343537;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fafafa;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 0 5px 15px -5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 5px 15px -5px rgba(0, 0, 0, 0.2);
}

.posts-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 2px;
}

.posts-toggle i {
  padding: 5px;
  color: #cccccc;
  font-size: 28px;
  cursor: pointer;
}

.posts-toggle i.active {
  color: #4090db;
}

.posts-bg {
  width: 347px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/bg-bottom.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -5;
}

.posts-bg-two {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0;
  right: 0;
  background-image: url("../images/background-two.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -5;
}

.posts-wrap.list {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts-item.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin: 10px 0px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.posts-item.list img {
  height: 94px;
  width: 94px;
}

.posts-item.list:hover {
  -webkit-box-shadow: 0 0px 15px #b1d9c8;
          box-shadow: 0 0px 15px #b1d9c8;
}

.posts-context.list {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 50px;
}

.posts-feedback.list {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts-feedback.list .like.list {
  font-weight: 600;
}

.posts-feedback.list .comment.list {
  font-weight: 600;
}

.posts-first-section.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

.posts-second-section.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

.posts-second-section.list .date {
  font-weight: 600;
}

.posts-three-section.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

.posts-three-section.list .upload {
  font-weight: 600;
}

.posts-three-section.list .date-of-upload {
  font-weight: 600;
}

.posts-time {
  font-weight: 500;
}

.posts-wrap.block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.posts-item.block {
  width: 275px;
  height: 275px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.posts-item.block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.posts-item.block img {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -2;
}

.posts-item.block:hover {
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
}

.posts-first-section.block {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts-second-section.block {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts-three-section.block {
  padding: 10px;
  width: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.posts-three-section.block .upload {
  font-size: 16px;
}

.posts-three-section.block .date-of-upload {
  font-weight: 600;
}

.posts-feedback.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
}

.posts-time.block {
  color: #fff;
}

@media (max-width: 850px) {
  .container {
    width: 800px;
  }
  .posts-wrap.block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .posts-toggle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    width: 700px;
  }
  .posts-block {
    overflow-x: hidden;
  }
  .posts-toggle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .posts-wrap.block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (max-width: 576px) {
  .container {
    width: 500px;
  }
  .posts-wrap.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .posts-first-section.list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 14px;
  }
  .posts-second-section.list {
    font-size: 14px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .posts-three-section.list {
    font-size: 14px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .posts-context.list {
    width: 65%;
    padding: 0px 5px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .posts-toggle {
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .posts-three-section.list {
    display: none;
  }
  .posts-feedback.list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-datepicker {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;
  }
  .header-block {
    background-size: cover;
    height: 280px;
  }
  .header-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header-wrap {
    width: 350px;
  }
  .header-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 400px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 380px) {
  .container {
    width: 330px;
  }
  .header-wrap {
    width: 320px;
  }
  .header-datepicker {
    width: 280px;
  }
  .header-info {
    width: 280px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 300px;
    padding: 0;
  }
  .posts-item {
    width: 280px;
  }
  .posts-item img {
    width: 280px;
  }
}
/*# sourceMappingURL=styles.css.map */